
body {
    margin: 0;
    overflow: hidden;
    background-color: rgb(246, 247, 248);
    font-family: "PT Sans", sans-serif;
}

.container {
    display: flex;
    height: 100vh; 
}

.completeRightContainer {
    width: 100%;
    margin-left: 250px;
}

.addTaskContainer {
    display: flex;
    flex: 84%;
}

.headlineAddTask {
    margin-bottom: 40px;
}


.addTaskLeftSide {
    flex: 1;
    margin-right: 72px;
}

.addTaskRightSide {
    flex: 1;
    margin-left: 72px;
    margin-right: 140px;
}

.inputContainerTitle {
    margin-bottom: 32px;
}
  
.inputContainerTitle label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.inputContainerTitle input {
    width: 100%;
    padding: 8px;
    border: unset;
    box-sizing: border-box;
    border-radius: 8px;
}

.inputContainerTitle input:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.inputContainerDescription {
    margin-bottom: 32px;
}
  
.inputContainerDescription label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
  
textarea  {
    width: 100%;
    height: 104px;
    padding: 8px;
    border: unset;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    border-radius: 8px;
    resize: both;
    font-family: "PT Sans", sans-serif;
}

textarea:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
  
.inputContainerAssignedTo label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.inputContainerAssignedTo input {
    width: 100%;
    padding: 8px;
    border: unset;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 8px;
}

.inputContainerAssignedTo input:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.required {
    color: red;
}

.borderline {
    width: 1px;
    background-color: black;
}

.inputContainerDate {
    margin-bottom: 32px;
}
  
.inputContainerDate label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.inputContainerDate input {
    width: 100%;
    padding: 8px;
    border: unset;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 8px;
}

.inputContainerDate input:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.prioButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    img {
        width: 16px;
    }
}

.prioButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: white;  
    padding: 12px;
    width: 30%;
    border-radius: 8px;
    border: unset;
}

.prioButton:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.prioText {
    font-weight: 600;
    margin: 0;
}

.categoryText {
    margin: 0;
    margin-top: 32px;
    margin-bottom: 5px;
    font-weight: 600;
}

.dropdownContent {
    width: 100%;
    border: unset;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 32px;
}

.dropdownContent:hover {
    cursor: pointer;
}

.selectedClassDropdown {
    color: rgb(148, 36, 36);
}

.inputContainerSubtask {
    margin-bottom: 32px;
    position: relative;
}

.inputContainerSubtask label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.inputWithButtonContainer {
    position: relative;
    display: flex;
    width: 100%;
}

.inputWithButton {
    flex: 1;
    width: calc(100% - 32px); 
    padding: 8px;
    border: unset;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
}

.addButtonSubtask {
    position: absolute;
    right: 8px; 
    top: 50%; 
    transform: translateY(-50%); 
}

.subtaskListContainer {
    max-height: 100px; 
    overflow-y: auto; 
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%; 
}

.inputWithButton:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.createTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 140px;
    margin-top: 40px;
    margin-left: 72px;
    p {
        margin: 0;
    }
}

.createTaskButtons {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 12px;

}

.clearButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 8px;
    border-radius: 8px;
    border-width: 1px;
    background-color: white;
    font-size: medium;
    img {
        height: 12px;
    }
}

.createTaskButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 8px;
    border-radius: 8px;
    border-width: 1px;
    background-color: rgb(42,54,71);
    color: white;
    font-size: medium;
    img {
        height: 12px;
    }
}

.createTaskButton:hover {
    background-color: rgb(39,171,226);
}

.requiredInfo {
    font-size: small;
}



.vectorImg1 {
    width: 12px; 
    height: 12px; 
    position: absolute;
    right: 32px; 
    top: 50%; 
    transform: translateY(-50%); 
}

.vectorImg2 {
    width: 12px; 
    height: 12px; 
    position: absolute;
    right: 6px; 
    top: 50%; 
    transform: translateY(-50%); 
}

.divider {
    width: 1px; 
    height: 16px; 
    background-color: #ccc; 
    margin: 0 8px; 
    position: absolute;
    right: 16px; 
    top: 50%; 
    transform: translateY(-50%); 
}

.contactBadge {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

#addedToBacklogImg {
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 0.5s ease-in-out;
}

#containerForBoardSide{
    padding: 0 72px;
}

@media (max-width: 950px) {
    .addTaskContainer{
      flex-direction: column;
      overflow-y: auto;
      max-height: 300px;
    }
    .addTaskRightSide{
        flex: 1;
        margin-right: 72px;
        margin-left: 0;
        margin-top: 32px;
    }
}    