
.headlineBoardSide {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 48px;
}

.headlineContainerFotBoardSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 140px;
}

.removeIncludetHTML:hover {
    cursor: pointer;
}

.completeRightContainerBoard {
    flex: 83%;
}

.rightSideHeadlineBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.headlineBoard {
    font-size: xxx-large;
}

.findTaskInputField {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 16px;
    };
}

.inputFieldFindTask {
    width: 280px;
    padding: 8px;
    border-radius: 8px;
    border: unset;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid rgb(209,209,209); 
}

.buttonFindTask {
    padding: 8px;
    border: unset;
    border-radius: 8px;
    background-color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.addTaskButton {
    width: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border: unset;
    border-radius: 8px;
    background-color: rgb(42,54,71);
    color: white;
    img {
        height: 12px;
    }
}

.addTaskButton:hover {
    cursor: pointer
}

.boradSide {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-right: 48px;
}

.toDo {
    width: 22%;
}

.toDoHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        height: 24px;
    }
}

.toDoContainer {
    overflow-y: auto;
    max-height: 100vh;
}


.noTasksToDo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-style: dotted;
    height: 48px;
    background-color: rgb(231,231,231);
    color: rgb(176,176,176);
}

.inProgress {
    width: 22%;
}

.inProgressHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        height: 24px;
    }
}

.inProgressContainer {
    overflow-y: auto;
    max-height: 100vh;
}

.noInProgress {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-style: dotted;
    height: 48px;
    background-color: rgb(231,231,231);
    color: rgb(176,176,176);
}

.awaitFeedback {
    width: 22%;
}

.awaitFeedbackHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        height: 24px;
    }
}

.awaitFeedbackContainer {
    overflow-y: auto;
    max-height: 100vh;
}

.noAwaitFeedback {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-style: dotted;
    height: 48px;
    background-color: rgb(231,231,231);
    color: rgb(176,176,176);
}

.done {
    width: 22%;
}

.doneHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        height: 24px;
    }
}

.doneContainer {
    overflow-y: auto;
    max-height: 100vh;
}

.noDone {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-style: dotted;
    height: 48px;
    background-color: rgb(231,231,231);
    color: rgb(176,176,176);
}

.createTasksContainer {
    border-radius: 32px;
    background: white;
    padding: 14px;
    margin-bottom: 16px;
}

.createTaskCategory {
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
    display: inline-block;
    color: white;
    border-radius: 8px;
}

.createTaskTitle {
    margin: 0;
}

.createTaskDescription {
    color: rgb(200, 200, 200);
}

.rightContainerWithoutHeadline {
    margin-left: 72px;
    background-color: rgb(246,247,248);
}

.containerForBoardSide {
    position: fixed;
    right: -5000px; 
    width: 80%; 
    height: 650px; 
    background-color: white; 
    transition: right 0.8s ease; 
    z-index: 9999;
    background-color: rgb(246,247,248); 
}

.showContainer {
    right: 0;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 40px;
}

.containerForDetailsTask {
    display: none; 
    position: fixed;
    width: 325px;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.categoryLineDetailsTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.assignetToDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    margin-top: 16px;
    gap: 8px;
    p {
        margin: 0;
    }
}

.insideContinerForDetailTask {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
}

.textAssignetToDetails {
    color: rgb(42,54,71);
}

.createTasksContainer:hover {
    cursor: pointer;
} 

.createTaskTitleDetails {
    font-size: xxx-large;
    font-weight: 700;
    margin: 0;
}

.createTaskDescriptionDetails {
    margin: 0;
    margin-top: 8px;
}

.dueDateDetails {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
    margin: 0;
    margin-top: 8px;
    p {
        margin: 0;
    }
}

.textDueDateDetails {
    color: rgb(42,54,71);
}

.priorityDetails {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 32px;
    margin: 0;
    margin-top: 16px;
    p {
        margin: 0;
    }
}

.testPriorityDetails {
    color: rgb(42,54,71);
}

.subtasksDetails {
    margin-top: 8px;
}

.subtaskTextDetails {
    color: rgb(42,54,71);
}

.deleteAndEditContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-bottom: 4px;
    img {
        height: 14px;
    }
}

.containerImgAndText {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border: none;
    p {
        color: rgb(42,54,71);
    }
}

.containerImgAndText:hover {
    cursor: pointer;
}

.middleLine {
    width: 1px;
    height: 14px;
    box-shadow: 0 0 10px rgba(42, 54, 71, 0.2);
    background-color: rgb(209,209,209);
}

.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.progress-bar {
    height: 20px;
    background-color: #76c7c0;
    border-radius: 5px;
    transition: width 0.3s;
}

.assignedContacts {
    position: relative;
    display: flex;
    align-items: center;
}

.assignedContacts .profil_badge {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    margin-left: -10px; 
}

.assignedContacts .profil_badge:first-child {
    margin-left: 0;
}

.assignedContactsDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-details {
    display: flex;
    align-items: center;
    margin-bottom: 5px; 
    gap: 4px;
}

.contactsAndPriority {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.priorityImage {
    img {
        height: 20px;
    }
}

.profil_badge_container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.priorityInDetails {
    display: flex;
    align-items: center;
    gap: 8px;
    img {
        height: 24px;
    }
}

.toDoContainer,
.inProgressContainer,
.awaitFeedbackContainer,
.doneContainer {
    width: 100%;
    height: 100vh;
    border: none;
    padding: 10px;
    margin: 10px;
}

.toDoContainer:hover,
.inProgressContainer:hover,
.awaitFeedbackContainer:hover,
.doneContainer:hover {
    border: dotted;
    border-color: rgb(231, 231, 231);
}


.createTasksContainer {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.toDoHeadline,
.inProgressHeadline,
.awaitFeedbackHeadline,
.doneHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toDoHeadline img,
.inProgressHeadline img,
.awaitFeedbackHeadline img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.progress {
    width: 100%;
    height: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
    margin-bottom: 16px;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #007bff;
    transition: width 0.3s ease-in-out;
}