@media (max-width: 1300px) {
  .contact_headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .blue_seperator {
    width: 200px;
    height: 4px;
    border-radius: 2px;
  }
}

@media (max-width: 1100px) {
  .contact_sidebar {
    width: 350px;
  }
  .contact_headline {
    max-width: calc(100% - 350px);
    margin-left: 390px;
  }

  .side-panel {
    display: flex;
    flex-direction: row;
    height: 130px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: center;
  }

  .side-panel .logo {
    display: none;
  }

  .side-panel .privacyPoliceLinks {
    display: none;
    margin-top: 0;
  }
  .side-panel .sidePanelLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-left: 0;
    margin: 0;
    gap: 0;
  }
  .completeRightContainer {
    margin-left: 0;
  }
  .sidePanelLink {
    padding-left: 0;
    flex-direction: column;
  }
  .contact_sidebar {
    height: calc(100% - 270px);
    overflow-x: hidden;
  }

  .contact {
    width: 300px;
  }

  .sidePanelLink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: left;
    text-decoration: none;
    color: rgb(205, 205, 205);
    padding: 20px 0;
    border-radius: 12px;
  }

  .contact_content {
    margin-left: 390px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    overflow-x: hidden;
  }
}

@media (max-width: 810px) {

  .user_row .flex_row{
    display: none;
  }

  .add_button{
    display: flex !important; 
  }

  .add_new_contact {
    display: none;
  }
  
  .contact_headline {
    display: none;
    margin-left: 0;
  }

  .contact_content {
    display: none;
    margin: 0;
  }

  .contact_sidebar {
    width: calc(100% - 40px);
  }
  .contact_container {
    width: calc(100% - 40px);
  }
  .contact {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .contact_sidebar {
    padding: 10px 10px;
  }
  .contact {
    padding: 10px 10px;
  }

  .contact_sidebar {
    width: calc(100% - 20px);
    height: calc(100% - 250px);
  }
  .contact_container {
    width: calc(100% - 20px);
  }
  .side-panel {
    height: 10%;
  }

  .contact h2 {
    font-size: 1.2em;
  }
  .profil_badge {
    min-width: 42px;
    min-height: 42px;
  }

  .contact a {
    font-size: 0.8em;
  }
}

/*responsiveness für die add Contact Card*/
@media (max-width: 950px) {
  .card_template {
    display: flex;
    flex-direction: column;
    height: calc(100% - 12% - 100px);
    width: 90%;
  }

  .left_collumn {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(42, 54, 71);
    padding: 100px 32px;
    border-radius: 20px 0 0 20px;
    justify-content: center;
    width: auto;
    border-radius: 20px 20px 0 0;
  }

  .card_template .flex_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .empty_user_img {
    margin-top: -60px;
  }

  .contact_details_collumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.add_button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(42, 54, 71);
  min-width: 46px;
  height: 46px;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 150px;
  width: 46px;
  z-index: 1;
}

