.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    background-color: #fff;
    padding: 0px 40px 0px 120px;
}

.header-right {
    display: flex;
    align-items: center;
}

.user_badge {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-t6);
    color: var(--color-light-blue);
}

.user_badge:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}