.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    background-color: #fff;
    padding: 0px 40px 0px 80px;
}

.header-right {
    display: flex;
    align-items: center;
}

.user_badge {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #29abe2;
}

.user_badge:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

  /* Dropdown Menu for header*/
  .dropdownMenu {
    display: none;
    background-color: #2A3647;
  position: absolute;;

  flex-direction: column;
  top: 100px;
  right: 40px;
  border-radius: 16px 0 16px 16px;
  z-index: 2;
  padding: 10px;
}

.dropdownMenu a{
    color: white;
    padding: 20px 40px;
    text-decoration: none;
}

.dropdownMenu a:hover{
    background-color: #3d5f8d;
    border-radius: 12px;
}

.show { 
    display: flex !important;
  }

  .header-right img {
    cursor: pointer;
}