@media(max-width: 1100px){
    .loginContainer {
        margin-top: 180px;
        margin-bottom: 200px;
        padding: 24px 56px;
        min-height: 480px;
    }
}
@media (max-width: 730px) {
    body{
        height: 100vh   ;
    }

  .loginContainer {
    position: relative;
    border-radius: 30px;
    padding: 18px 48px;
    margin-top: 180px;
    margin-bottom: 200px;
  }

  .headerLine {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-right: 0;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
  }



  @keyframes moveAndResizeImage {
    from {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    to {
      top: 20px;
      left: 20px;
      transform: translate(0, 0);
    }
  }
  @keyframes shrinkLogo {
    from {
      width: 750px;
      height: 500px;
    }
    to {
      width: 80px;
      height: 120px;
    }
  }
  .overlay {
    position: fixed; /* Ändern zu fixed, um sicherzustellen, dass es den gesamten Bildschirm abdeckt */
    top: 0;
    left: 0;
    right: 0; /* Stellt sicher, dass es sich nach rechts erstreckt */
    bottom: 0; /* Stellt sicher, dass es sich nach unten erstreckt */
    width: 100%;
    height: 100%;
    z-index: 1; /* Stellen Sie sicher, dass dieser Wert hoch genug ist */
    background-color: rgb(19, 25, 32); /* Optional: Hintergrundfarbe mit Transparenz */
    animation: fadeOutWhiteBackground 0.75s forwards;
  }
}

@media (max-width: 530px){
    .loginContainer {
        position: relative;
        border-radius: 30px;
        padding: 20px 8px;
      }
      .dFlexJC {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
    .dFlexJC > * {
        width: 60%;
        margin: 0;
    }
}
@media (max-height: 1030px){
    .headerLine {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        margin-right: 0;
        position: absolute;
        bottom: 100px;
        left: 0;
        right: 0;
    }

    .headerLine div{
        position: relative;
        
    }
    .mainWrapper {
        margin-top: 100px;
    }
    .loginContainer{
        margin: 0;
    }
}

@media (max-height: 850px){
    .mainWrapper {
        margin-top: 70px;
        height: unset;
    }
    @keyframes moveAndResizeImage {
        from {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        to {
          top: 10px;
          left: 20px;
          transform: translate(0, 0);
        }
      }
      @keyframes shrinkLogo {
        from {
          width: 750px;
          height: 500px;
        }
        to {
          width: 40px;
          height: 60px;
        }
      }
      .loginHeadline{
        font-size: 40px;
      }
      .loginContainer{
        padding: 8px 8px;
        min-height: 400px;
      }
      .headerLine{
        bottom: 70px
        
      }
}